<!DOCTYPE html>
<html>
  <head>
    <title>Dworok</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="fixed-center"
   style="margin-left:40%;">
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6 daimei"><a href="/"
        style="font-size:100px;"> Dwork</a></h1>
        <button type="button" class="btn btn-link">
        <div class="user_nav grid-6">
          <a class="btn btn-primary" href="/tweets/new" role="button">投稿する</a>
        </div>
        </button>
      </div>
      </div>
    </header>
    <%= yield %>
    <footer>
    <div class="fixed-bottom"
    style="margin-left:45%;">
      <p>
        Copyright Dwork 2021.
      </p>
      </div>
    </footer>
  </body>
</html>
